.signIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;

    height: 21rem;

    background: #ffffff40;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.signIn>img {
    height: 2rem;
    object-fit: contain;
}

.signin-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
    text-align: center;
}

.signin-btn-container p{
    color:white;
}

.signin-btn-container span{
    font-weight: bolder;
    color:#BB000E;
    cursor: pointer;
}