.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.loader-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-inner-container>p {
  color: white;
  font-size: 2rem;
}

.loader {
  height: 15rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}