.option {

    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 0.1rem
}


.option:hover {
    transform: scale(0.98);
}

.selected {
    background-color: #bb000e;
    color: white;
}


.notSelected {
    background-color: transparent;
    border: 2px solid #bb000e;
    color: #bb000e;
}