.navbar {
    position: sticky;
    top: 0;
    width: 95.95%;
    padding: 0.5vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 3;

}

.navbar-logo,
.navbar-menu {
    height: 2rem;
}


.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-right a {
    color: white;
    font-size: 1.5rem;
    margin: 0.2rem 1rem;
    cursor: pointer;
    font-size: 800;
}

.active-route {
    color: #BB000E !important;
}

.navbar-right p:hover {
    color: #BB000E
}

.navbar-menu {
    display: none;
}